.jumbotron {
    width: 100%;
    background-color: maroon;
    color: pink;
    text-align: center;
}

#warning {
    text-align: center;
    color: red;
}

#info {
    text-align: center;
    color: blue;
}


#favorite {
    text-align: center;
    color: green;
}

.save-ingredients-button {
    float: right;
}
@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 30%;
    margin-top: 10%;
  }
  .loginButtion{
      max-width: 50%;
      margin-left: 25%;
  }
}

.delete-button {
    float: right;
}

