.footer {
  min-height: 40px;
  background: #252a3d;
  flex-shrink: 0;
  color: white;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 10px;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
 
}

